<div class="card post mt-42" duration="10">
  <div class="card-header text-center">
    Welcome to UCL!
  </div>
  <div class="row post-content">
    <div class="col-md-12">
      <table class="post-table">
        <tbody>
        <tr>
          <td class="align-middle">
            <%= image_tag("ucl_portico.jpg", class: "post-image") %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>