<div class="embedded-twitter">
	
	<a class="twitter-timeline" href="https://twitter.com/<%= @twitter_handle %>?ref_src=twsrc%5Etfw">Tweets by <%= @twitter_handle %></a>
	
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	
</div>