 @import "bootstrap";
 @import "font-awesome";

 //Variable definitions
 $white: #fff;
 $footer-height: 8%;
 $divider-thickness: 1px;

 body,
 html {
   height: 100%;
   overflow: hidden;
 }

 td {
   p {
     font-size: 2vh;
   }
 }

 #footer {
   border-color: black;
   border-top: 0.1vh solid;
   height: $footer-height;
   background-color: white;
 }

 #ucl-logo {
   max-width: 100%;
 }

 #header {
   background-color: white;
 }

 #div-time {
   font-size: 11vh;
   font-weight: 800;
   max-height: 120px
 }

 #div-weather {
   font-size: 5vh;
   font-weight: 800;
 }

 #div-date {
   font-size: 3vh;
 }

 #tfl-widget {
   font-size: 2.5vh;
 }

 #news-feed {
   font-size: 2.5vh;
   width: 100%;
   overflow: hidden;
   white-space: nowrap;
 }

 #div-center {
   height: 100% !important; //Cause footer to stick to bottom in IE 6 */
   min-height: 100%;
 }

 .card-header {
   font-size: 3vh;
 }

 .carousel-indicators {
   position: absolute;
   bottom: -2.5vh;
   li {
     background-color: darkgray;
   }
   .active {
     background-color: #2E2F30;
   }
 }

 .vertical-divider {
   min-height: 100%;
   border-right: $divider-thickness solid black;
   left: 33.3333%;
 }

 .post, .emergency {
   width: 65vw;
   height: 60vh;
   position: fixed;
   top: 23vh;
   left: 17.5vw;
 }

 .emergency {
   z-index: 10;
 }

 .post {
   display: none;
 }

 .post-image {
   width: 100%;
   max-height: 48vh;
   padding-left: 2%;
 }

 .post-content {
   margin: 2%;
   text-align: justify;
   height: 100%;
   overflow: hidden;
 }

 .emergency-content {
   margin: 2%;
   height: 100%;
   font-size: 3em;
 }

 .post-table {
   height: 90%;
   width: 100%;
 }

.severe-delay {
  color: red;
}

.spacer {
  margin:0;
  padding:0;
  height:50px;
}

 .tab {
   position: fixed;
   top: 30%;
   min-width: 13vw;
   font-size: 3vh;
   padding: 0.5%;
   padding-left: 2%;
   img {
     max-height: 5vh;
     max-width: 5vh;
   }
 }

 //----- UCL departments -----//
 .no_department {
   background: $white url(asset-path('background.png')) no-repeat center center fixed;
 }


 //----- TFL Lines -----//

#tfl-indicator {
  min-height: 100%;
  left: 0%;
  border-right: 6vw;
  border-right-style: solid;
}

.Bakerloo {
 color: #B36305;
}

.Central {
 color: #E32017;
}

.Circle {
 color: #FFD300;
}

.District {
 color: #00782A;
}

.Hammersmith {
 color: #F3A9BB;
}

.Jubilee {
 color: #A0A5A9;
}

.Metropolitan {
 color: #9B0056;
}

.Northern {
 color: black;
}

.Piccadilly {
 color: #003688;
}

.Victoria {
 color: blue;
}

.Waterloo {
  color: #95CDBA;
}

//----- Twitter Feed -----//

.next-to-twitter .post {
  left: 5vw;
}

.embedded-twitter {
  iframe {
    width: 20% !important;
    float: right;
    margin-top: 20vh !important;
    height: 68vh !important;
    margin-right: 3vw;
  }
}

//----- Video Posts ----//

.video-post {
  min-width: 100%;
  min-height: 100%;
  padding:120px 0 8% 0;
	position:relative;
	padding-bottom:59%;
  padding-top:30px;
  top: 0;
  left: 0;
	overflow:hidden;
}

.video-post iframe, .video-post object, .video-post embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


