 @import "bootstrap";
 @import "font-awesome";

 //Variable definitions
 $white: #fff;
 $background-color: #0ff;
 $divider-color: #888;
 $content-canvas-background-color: rgba(255,255,255,0.5);

 $header-height: 15%;
 $footer-height: 8%;
 $content-canvas-width: 66%;

 $divider-thickness: 0.1%;

 body,
 html {
   height: 100%;
   overflow: hidden;
 }

 #footer {
   border-color: black;
   border-top: 0.1vh solid;
   height: $footer-height;
 }

 #ucl-logo {
   max-width: 100%;
 }

 #header {
   @extend .fixed-bar;
   height: $header-height;
 }

 #div-time {
   font-size: 12vh;
   font-weight: 800;
 }

 #div-weather {
   font-size: 5vh;
   font-weight: 800;
 }

 #div-date {
   font-size: 3vh;
 }

 #tfl-widget {
   font-size: 2.5vh;
 }

 #news-feed {
   font-size: 2.5vh;
   // If you resize the screen, the width does not update
   // (need to refresh the page)
   width: 100%;
   overflow: hidden;
   white-space: nowrap;
 }

 #div-center {
   background: $white url(asset-path('background.png')) no-repeat center center fixed;
   height: auto !important; //Cause footer to stick to bottom in IE 6 */
   min-height: 100%;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .card-header {
  font-size: 3vh;
 }

 .card-title {
   font-size: 2.5vh;
 }

 .card-text {
  font-size: 2vh;
 }

 .fixed-bar {
   background-color: $white;
 }

 .carousel-indicators {
   position: absolute;
   bottom: -2.5vh;
   li {
     background-color: darkgray;
   }
   .active {
     background-color: #2E2F30;
   }
 }

 .vertical-divider {
   min-height: 100%;
   border-right: 0.1vh solid black;
   left: 33.3333%;
 }

 .post {
   width: 60vw;
   height: 60vh;
   position: absolute;
 }

 .top {
   z-index: 2;
 }

 .bottom {
   z-index: 1;
 }

 .content-canvas {
   background-color: $content-canvas-background-color;
   width: $content-canvas-width;
   flex-grow: 0.7;
   padding: 5%;
 }

 .footer-widget {
   text-align: center;
 }

 //Visually removes weird p tags
//TODO Better solution?
.notice, .alert {
 margin: 0;
 border: 0;
 padding: 0;
}

.severe-delay {
  color: red;
}

.spacer { margin:0; padding:0; height:50px; }

 .tab {
   position: fixed;
   top: 30%;
   width: 13vw;
   font-size: 3vh;
   padding: 0.5%;
   padding-left: 2%;
   img {
     max-height: 5vh;
     max-width: 5vh;
   }
 }


 //----- TFL Lines ---- //

#tfl-indicator {
  min-height: 100%;
  left: 0%;
  border-right: 6vw;
  border-right-style: solid;
}

.Bakerloo {
 color: #B36305;
}

.Central {
 color: #E32017;
}

.Circle {
 color: #FFD300;
}

.District {
 color: #00782A;
}

.Hammersmith {
 color: #F3A9BB;
}

.Jubilee {
 color: #A0A5A9;
}

.Metropolitan {
 color: #9B0056;
}

.Northern {
 color: black;
}

.Piccadilly {
 color: #003688;
}

.Victoria {
 color: blue;
}

.Waterloo {
  color: #95CDBA;
}